[core]
    editor = nvim
    pager = delta

[delta]
    navigate = true
    line-numbers = true
    side-by-side = true
    dark = true

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = zdiff3

[fetch]
    prune = true

[pull]
    rebase = true

[init]
    defaultBranch = main

[alias]
    co = checkout
    st = status
    br = branch
    lol = log --graph --decorate --pretty=oneline --abbrev-commit --all

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
